@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');


html, body {
    background-color: #D3BBDD;
    color: #6B4B3E;
    font-size: 30;
    font-family: UnifrakturMaguntia; 
    /* text-align: center; */
}

h1 {
    color: #D3BBDD;
    font-size: 30;
}

p {
    color: #6B4B3E;
}

div {
    background-color: #C49E85; 
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
