<!DOCTYPE html> <!--Decleration that this is a HTML page-->

<html> <!--# delineation of where the document starts-->

    <head> <!-- stuff you don't really see, stuff thats not on the page-->
        <meta charset="utf-8"/> <!-- meta defines the metadata, charset is the character set-->
        <title> Flask App </title> <!-- what shows up at the top of the tab-->
        <link rel="stylesheet" type="text/css" href="\{{ url_for('static', filename='site.css')}}"/>
    </head>

    <body>
        <!--NOTES-->
        <!--Tags that don't require a closing tag: <br> creates a line break, <hr> creates a horizontal line, <img> loads up the image--> 
        <!--Headings: h1 (largest) goes up to h6 (smallest) -->
        <!--Use conditionals/Jinja control block: 
            {% if %}
            {% else %}
            {% endif %}   -->
        <h1> Welcome to my first Flask application skibidis!</h1>
        
        {% if name == true %}
            <p> Hello, {{ name }} </p>
        {% else %}
            <p> What's your name?</p>
        {% endif %}
    </body>
</html> 